<div class="d-flex flex-column flex-lg-row flex-column-fluid">

  <!--begin::Body-->
  <div class="d-flex flex-column flex-lg-row-fluid w-lg-50 p-10 order-2 order-lg-1">
    <!--begin::Form-->
    <div class="d-flex flex-center flex-column flex-lg-row-fluid">
      <!--begin::Wrapper-->
      <div
        class="app-wrapper col-lg-8 col-md-8 col-xl-8 col-sm-10 col-xs-10  p-10 mat-elevation-z2 card-rounded mb-5">
        <router-outlet></router-outlet>
      </div>
      <!--end::Wrapper-->
    </div>
    <!--end::Form-->

    <!--begin::Footer-->
    <div class="d-flex flex-center flex-wrap px-5">
      <!--begin::Links-->
      <div class="d-flex fw-semibold text-primary fs-base">
        &copy; Optimum Grading
      </div>
      <!--end::Links-->
    </div>
    <!--end::Footer-->
  </div>
  <!--end::Body-->

  <!--begin::Aside-->
  <div [ngStyle]="{'background-image': 'url(./assets/optimum-grading/auth/auth-screen__no-text.jpg)'}"
       class="d-flex flex-lg-row-fluid w-lg-50 bgi-size-cover bgi-position-center order-1 order-lg-2">
    <!--begin::Content-->
    <div class="d-flex flex-column flex-center py-15 px-5 px-md-15 w-100">
      <!--begin::Logo-->
      <a class="mb-12" routerLink="/">
        <img alt="Logo" class="h-75px" src="./assets/optimum-grading/logo/logo-dark.png"/>
      </a>
      <!--end::Logo-->

      <!--begin::Image-->
      <!--            <img class="mx-auto w-275px w-md-50 w-xl-500px mb-10 mb-lg-20" src="./assets/optimum-grading/auth/auth-screen.jpg"-->
      <!--              alt="" />-->
      <!--end::Image-->

      <!--      begin::Title-->
      <!--      <h1 class="text-white   text-center mb-7">-->
      <!--        Evaluating The Player-->
      <!--      </h1>-->
      <!--      end::Title-->

      <!--begin::Text-->
      <!--      <div class="text-white fs-base text-center">-->
      <!--        Evaluating The Player-->
      <!--      </div>-->
      <!--end::Text-->
    </div>
    <!--end::Content-->
  </div>
  <!--end::Aside-->
</div>
