<!--begin::Menu wrapper-->
<div
  class="app-sidebar-wrapper my-5"
  data-kt-scroll="true"
  data-kt-scroll-activate="true"
  data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer"
  data-kt-scroll-height="auto"
  data-kt-scroll-offset="5px"
  data-kt-scroll-save-state="true"
  data-kt-scroll-wrappers="#kt_app_sidebar_menu"
  id="kt_app_sidebar_menu_wrapper"
>
  <!--begin::Menu-->
  <div
    class="menu menu-column menu-rounded menu-sub-indention px-3"
    data-kt-menu="true"
    data-kt-menu-expand="false"
    id="#kt_app_sidebar_menu"
    style="margin-left: 8px"
  >
    <!-- Pages -->
    <ng-container *ngFor="let item of sidebarItems">
      <div *ngIf="!item.submenu || item.submenu.length < 1" class="menu-item">
        <a
          [routerLink]="item.page"
          class="menu-link without-sub"
          routerLinkActive="active"
        ><span class="menu-icon">
            <span [inlineSVG]="item.icon" class="svg-icon svg-icon-2"></span>
          </span>
          <span [translate]="item.title" class="menu-title"></span
          ></a>
      </div>
      <div
        *ngIf="item.submenu"
        [routerLinkActive]="item.page"
        class="menu-item menu-accordion"
        data-kt-menu-trigger="click"
      >
        <span class="menu-link"
        ><span class="menu-icon"
        ><span
          [inlineSVG]="item.icon"

          class="svg-icon svg-icon-2"
        ></span></span
        ><span class="menu-title" data-link="/crafted/account">{{item.title}}</span
        ><span class="menu-arrow"></span
        ></span>
        <div
          *ngFor="let submenu of item.submenu"
          [routerLinkActive]="submenu.page"
          class="menu-sub menu-sub-accordion"
        >
          <div class="menu-item">
            <a
              [routerLink]="submenu.page"
              class="menu-link without-sub"
              routerLinkActive="active"
            ><span class="menu-bullet"
            ><span class="bullet bullet-dot"></span></span
            ><span class="menu-title">{{submenu.title}}</span></a
            >
          </div>
        </div>
      </div>
    </ng-container>

    <!--    &lt;!&ndash; Separator &ndash;&gt;-->
    <!--    <div class="menu-item">-->
    <!--      <div class="menu-content pt-8 pb-2">-->
    <!--        <span class="menu-section text-muted text-uppercase fs-8 ls-1">Apps</span>-->
    <!--      </div>-->
    <!--    </div>-->
  </div>
  <!--end::Menu-->
</div>
<!--end::Menu wrapper-->
