<div class="menu-item me-lg-1">
  <div class="col menu-link py-3">
    <select
      [formControl]="season"
      class="form-select form-select-lg form-select-solid "
      name="seasonsSelect"
    >
      <option disabled hidden selected value="0">Select your Season</option>
      <option *ngFor="let season of seasons | async" [value]="season.id">{{season.name}} | {{season.year}}</option>
    </select>
  </div>
</div>
<div class="menu-item me-lg-1 ">
  <div *ngFor="let radio of type" class="ps-1">
    <input
      [formControl]="teamType"
      class="btn-check menu-link py-3"
      type="radio"
    /><label
    class="btn btn-outline btn-outline-dashed btn-outline-default w-100 p-4"
  ><span class="">{{radio.label}}</span></label
  >
  </div>
</div>
