<!--begin::Search-->
<div [ngClass]="itemClass" class="app-navbar-item align-items-stretch">
  <!--begin::Search-->
  <div class="header-search d-flex align-items-stretch" data-kt-menu-overflow="false" data-kt-menu-permanent="true"
       data-kt-menu-placement="bottom-end" data-kt-menu-trigger="{default: 'click'}" data-kt-search="true"
       data-kt-search-enter="enter" data-kt-search-keypress="true" data-kt-search-layout="menu"
       data-kt-search-min-length="2" id="kt_header_search">
    <!--begin::Search toggle-->
    <div class="d-flex align-items-center" data-kt-search-element="toggle" id="kt_header_search_toggle">
      <div [ngClass]="btnClass">
        <span [inlineSVG]="'./assets/media/icons/duotune/general/gen021.svg'" [ngClass]="btnIconClass"
              class="svg-icon"></span>
      </div>
    </div>
    <!--end::Search toggle-->
  </div>

</div>
<!--end::Search-->

<!--begin::Activities-->
<div [ngClass]="itemClass" class="app-navbar-item">
  <!--begin::Drawer toggle-->
  <div [ngClass]="btnClass" id="kt_activities_toggle">
    <span [inlineSVG]="'./assets/media/icons/duotune/general/gen032.svg'" [ngClass]="btnIconClass"
          class="svg-icon"></span>
  </div>
  <!--end::Drawer toggle-->
</div>
<!--end::Activities-->

<!--begin::Notifications-->
<div [ngClass]="itemClass" class="app-navbar-item">
  <!--begin::Menu- wrapper-->
  <div [ngClass]="btnClass" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end"
       data-kt-menu-trigger="{default: 'click', lg: 'hover'}">
    <span [inlineSVG]="'./assets/media/icons/duotune/general/gen022.svg'" [ngClass]="btnIconClass"
          class="svg-icon"></span>
  </div>
  <!--end::Menu wrapper-->
</div>
<!--end::Notifications-->

<!--begin::Chat-->
<div [ngClass]="itemClass" class="app-navbar-item">
  <div [ngClass]="btnClass" class="position-relative" id="kt_drawer_chat_toggle">
    <span [inlineSVG]="'./assets/media/icons/duotune/communication/com012.svg'" [ngClass]="btnIconClass"
          class="svg-icon"></span>
    <span
      class="bullet bullet-dot bg-success h-6px w-6px position-absolute translate-middle top-0 start-50 animation-blink">
    </span>
  </div>
</div>
<!--end::Chat-->

<!--begin::Quick links-->
<div [ngClass]="itemClass" class="app-navbar-item">
  <!--begin::Menu wrapper-->
  <div [ngClass]="btnClass" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end"
       data-kt-menu-trigger="click">
    <span [inlineSVG]="'./assets/media/icons/duotune/general/gen025.svg'" [ngClass]="btnIconClass"
          class="svg-icon"></span>
  </div>
  <!--end::Menu wrapper-->
</div>
<!--end::Quick links-->

<!--begin::Theme mode-->
<div [ngClass]="itemClass" class="app-navbar-item">
  <app-theme-mode-switcher [toggleBtnClass]="btnClass"
                           toggleBtnClass="{`btn-active-light-primary btn-custom ${toolbarButtonHeightClass}`}">
  </app-theme-mode-switcher>
</div>
<!--end::Theme mode-->

<!--begin::User menu-->
<div [ngClass]="itemClass" class="app-navbar-item">
  <!--begin::Menu wrapper-->
  <div [ngClass]="userAvatarClass" class="cursor-pointer symbol"
       data-kt-menu-attach="parent"
       data-kt-menu-placement="bottom-end" data-kt-menu-trigger="{default: 'click'}"
  >
    <img src="./assets/media/avatars/300-1.jpg"/>
  </div>
  <!--end::Menu wrapper-->
</div>
<!--end::User menu-->

<!--begin::Header menu toggle-->
<ng-container *ngIf="appHeaderDefaulMenuDisplay">
  <div class="app-navbar-item d-lg-none ms-2 me-n3" title="Show header menu">
    <div class="btn btn-icon btn-active-color-primary w-35px h-35px" id="kt_app_header_menu_toggle">
      <span [inlineSVG]="'./assets/media/icons/duotune/text/txt001.svg'" [ngClass]="btnIconClass"
            class="svg-icon"></span>
    </div>
  </div>
</ng-container>
<!--end::Header menu toggle-->
