<!--begin::Form-->
<div class="form forget-pass w-100">
  <!--begin::Heading-->
  <div class="text-center mb-11">
    <div class="text-center mt-4">
      <h1 class="h2">Reset password</h1>
      <p class="lead">Enter your email to reset your password.</p>
    </div>
    <!--end::Subtitle--->
  </div>
  <!--end::Heading-->
  <!--begin::Form group-->
  <div class="form-group">
    <label>Email</label>
    <input
      [formControl]="email"
      class="form-control form-control-lg"
      placeholder="Enter your email"
      type="email"
    />
  </div>
  <!--end::Form group-->

  <!--begin::Action-->
  <div class="d-grid mb-10 text-center mt-3">
    <button
      (click)="resetPass()"
      [disabled]="email.invalid"
      class="btn btn-primary"
    >
      <ng-container *ngIf="isLoading$ | async">
                      <span
                        [style.display]="'block'"
                        class="indicator-progress"
                      >
                        Please wait...
                        <span
                          class="spinner-border spinner-border-sm align-middle ms-2"
                        ></span>
                      </span>
      </ng-container>
      <ng-container *ngIf="(isLoading$ | async) === false">
        <span class="indicator-label">Reset password</span>
      </ng-container>
    </button>
  </div>
  <!--end::Action-->
</div>
<!--end::Form-->
