<div class="col-lg-12">
  <div class="title">
    <h2>Player</h2>
  </div>
  <hr/>
  <div [formGroup]="addPlayer" class="card-container row">
    <div
      class="avatar col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 justify-content-center"
    >
      <img alt="your avatar" class="w-100" src="assets/profile.png"/>
      <h6>click to select</h6>
    </div>
    <div class="form-container col-lg-9">
      <div class="row mb-10">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
          <label class="required fs-6 fw-bold form-label mb-2"
          >First Name</label
          >
          <input
            autocomplete="off"
            class="form-control bg-transparent"
            formControlName="firstName"
            name="firstName"
            placeholder="First Name"
            type="text"
          />
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
          <label class="required fs-6 fw-bold form-label mb-2"
          >Last Name</label
          >
          <input
            autocomplete="off"
            class="form-control bg-transparent"
            formControlName="lastName"
            name="lastName"
            placeholder="Last Name"
            type="text"
          />
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
          <label class="required fs-6 fw-bold form-label mb-2"
          >Jersey#</label
          >
          <input
            class="form-control bg-transparent"
            formControlName="jersey"
            max="99"
            min="0"
            placeholder="Jersey #"
            type="number"
          />
        </div>
      </div>
      <div class="row mb-10">
        <ng-container formArrayName="emails">
          <ng-container *ngFor="let emailForm of emailsFormArray.controls; let i = index ">
            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12">
              <label class="required fs-6 fw-bold form-label mb-2">Email</label>
              <input
                autocomplete="off"
                class="form-control bg-transparent"
                formControlName="email"
                name="email"
                placeholder="Email"
                type="email"
              />
            </div>
            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12">
              <label class="required fs-6 fw-bold form-label mb-2"
              >Select Type</label
              >
              <select
                class="form-select form-select-solid"
                formControlName="type"
              >
                <option></option>
                <option value="Primary">Primary</option>
                <option value="Secondary">Secondary</option>
              </select>
            </div>
            <div *ngIf="emailsFormArray.controls.length > 1"
                 class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12 button-center">
              <button (click)="removeEmail(i)" class="btn btn-light btn-sm">-</button>
            </div>
          </ng-container>
        </ng-container>


        <div *ngIf="emailsFormArray.controls.length <= 1"
             class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12 button-center">
          <button (click)="addEmail()" class="btn btn-light btn-sm">+</button>
        </div>

      </div>
      <div class="row fv-row mb-10">
        <ng-container formArrayName="phones">
          <ng-container *ngFor="let emailForm of phonesFormArray.controls; let i = index ">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
              <label class="required fs-6 fw-bold form-label mb-2">Phone</label>
              <input
                class="form-control bg-transparent"
                formControlName="phone"
                name="phone"
                placeholder="Phone"
                type="number"
              />
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
              <label class="required fs-6 fw-bold form-label mb-2"
              >Select Type</label
              >
              <select
                class="form-select form-select-solid"
                formControlName="type"
              >
                <option></option>
                <option value="Primary">Primary</option>
                <option value="Secondary">Secondary</option>
              </select>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
              <label class="required fs-6 fw-bold form-label mb-2"
              >Select Carrier</label
              >
              <select
                class="form-select form-select-solid"
                formControlName="carrier"
              >
                <option></option>
                <option value="Primary">Primary</option>
                <option value="Secondary">Secondary</option>
              </select>
            </div>

            <div *ngIf="phonesFormArray.controls.length > 1"
                 class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 button-center">
              <button (click)="removePhone(i)" class="btn btn-light btn-sm">-</button>
            </div>
          </ng-container>
        </ng-container>


        <div *ngIf="phonesFormArray.controls.length <= 1"
             class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12 button-center">
          <button (click)="addPhone()" class="btn btn-light btn-sm">+</button>
        </div>
      </div>
    </div>
  </div>
</div>

<optimum-grading-tabs
  (selectedTab)="setActiveTab($event)"
  [tabsList]="seasons$ | async"
>
  <!-- begin::Sidebar -->
  <ng-container *ngFor="let season of seasons$ | async">
    <div [ngClass]="{ active: activeTab === season.id }" class="tab-pane">
      <div class="form-group">
        <div class="row mb-10">
          <div class="col-md-8 fv-row">
            <div class="row fv-row">
              <div
                class="col-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12"
              >
                <label class="required fs-6 fw-bold form-label mb-2"
                >Position</label
                >

                <mat-select class="form-select" multiple>
                  <ng-container *ngFor="let position of positions$ | async | keyvalue">
                    <mat-option disabled>{{position.key}}</mat-option>
                    <mat-option *ngFor="let eachpg of position.value" [value]="eachpg">{{eachpg.name}}</mat-option>
                  </ng-container>
                </mat-select>

              </div>
            </div>
          </div>
        </div>
        <div class="row mb-10">
          <div class="col-md-8 fv-row">
            <div class="row fv-row">
              <div
                class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12"
              >
                <label class="required fs-6 fw-bold form-label mb-2"
                >Select Type</label
                >
                <select class="form-select form-select-solid">
                  <option></option>
                  <option value="Primary">Primary</option>
                  <option value="Secondary">Secondary</option>
                </select>
              </div>
              <div
                class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12"
              >
                <label class="required fs-6 fw-bold form-label mb-2"
                >Select Type</label
                >
                <select class="form-select form-select-solid">
                  <option></option>
                  <option value="Primary">Primary</option>
                  <option value="Secondary">Secondary</option>
                </select>
              </div>
              <div
                class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12"
              >
                <label class="required fs-6 fw-bold form-label mb-2"
                >Select Carrier</label
                >
                <select class="form-select form-select-solid">
                  <option></option>
                  <option value="Primary">Primary</option>
                  <option value="Secondary">Secondary</option>
                </select>
              </div>
              <div
                class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12"
              >
                <label class="required fs-6 fw-bold form-label mb-2"
                >Select Carrier</label
                >
                <select class="form-select form-select-solid">
                  <option></option>
                  <option value="Primary">Primary</option>
                  <option value="Secondary">Secondary</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-10">
          <div class="col-md-8 fv-row">
            <div class="row fv-row">
              <div
                class="col-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12"
              >
                <label class="required fs-6 fw-bold form-label mb-2"
                >Select Type</label
                >
                <select class="form-select form-select-solid">
                  <option></option>
                  <option value="Primary">Primary</option>
                  <option value="Secondary">Secondary</option>
                </select>
              </div>
              <div
                class="col-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12"
              >
                <label class="required fs-6 fw-bold form-label mb-2"
                >Select Type</label
                >
                <select class="form-select form-select-solid">
                  <option></option>
                  <option value="Primary">Primary</option>
                  <option value="Secondary">Secondary</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <!-- end::Sidebar -->
</optimum-grading-tabs>
